@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: url("C:/Users/DaviD/Desktop/питон/сайты/regesration/regestration/healthy-food-concept-illustration_114360-11817.avif");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 3%;
    font-family: Noto Sans;
}
img{
    width: 30%;
    position: absolute;
    z-index: 0;
    margin-top: 15%;
    margin-left: 0%;
}
h1{
    width: 50%;
    margin: auto;
    text-shadow: 1px 1px 4px grey;
    text-align: center;
}
p{
    width: 50%;
    padding: 13px;
    margin: 23px auto auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 520;
}
hr{
    width: 50%;
    height: 4px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #50327e;
}
.action{
    text-align: center;
}
.sign-up,.sign-in{
    color: black;
    text-decoration: none;
    padding: 1%;
}
.active{
    color: white;
    border-bottom: 2px solid orange;
}
.sign-in{
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.sign-up:hover,.sign-in:hover{
    color: white;
}
form{
    width: 50%;
    margin: 30px auto auto;
    background-color: #50327e;
    opacity: 0.65;
    border-radius: 13px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}
.fields p{
    color: #e3e3e3;
    font-size: 16px;
}
.fields input{
    width: 90%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: border-box;
    border-radius: 15px;
    border: none;
    background-color: rgb(200, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 0.9;
}
.fields ::placeholder{
    color: rgb(59, 59, 59);
}
.check{
    color: white;
    float: left;
    margin-top: 0.5%;
    margin-left: 5%;
    
}
.check input{
    width: auto;
}
.check p{
    display: inline;
    padding: 5px;
    color: rgb(222, 221, 221);
    font-size: 15px;
}
input[type="button"]{
    background-color: rgb(252, 255, 93);
    color: black;
    font-weight: 800;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin-top: 2%;
    height: fit-content;
    line-height: 250%;
}
.hr1{
    width: 92%;
    height: 4px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #6f6083;
    border: none;
}
.forgot{
    font-size: 15px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-weight: 500;
    margin-top: -1%;
    margin-bottom: -4%;
    text-decoration: none;
}
.forgot:hover{
    color: white;
    transform: scale(1.05);
}